body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  color: black;
}

.logo {
  width: 153px;
  height: 50.3px;
  margin-left: 8%;
}

.logo img {
  max-height: 50px;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 40%;
  position: relative;
}

.search-bar input {
  padding: 8px;
  border-radius: 35px;
  width: 100%;
  border: 2px solid #0078a5;
  position: relative;
}

.search-bar input::placeholder {
  color: #0078a5;
}

.search-bar i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #0078a5;
}

.icons {
  margin-right: 10px;
  padding-right: 8%;
  display: flex;
  justify-content: space-between;
}

.icons i {
  font-size: 15px;
  margin-left: 10px;
  color: black;
}
hr {
  display: flex;
  margin-left: 9%;
  margin-right: 9%;
  margin-top: 3px;
}
.nav-bar {
  display: flex;
  margin-top: 1px;
  align-items: center;
}
.home-page {
  width: 80%;
  margin: auto;
  position: relative;
}

.home-page .slider-image {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
.home-decription {
  position: relative;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: white;
  max-width: 70%;
  padding: 40px;
  padding-right: 29%;
}

.overlay h2,
.overlay p,
.overlay button {
  margin: 1;
}
.overlay h2 {
  box-shadow: #707070;
}
.overlay p {
  font-size: 14px;
}

.overlay button {
  background: #707070;
  color: white;
  padding: 10px 20px;
  border: 1px solid white;
  background: transparent;
  cursor: pointer;
  border-radius: 30px;
  padding-left: 30px;
  outline: none;
}

.slider-container {
  position: relative;
  width: 100%;
  margin: auto;
  display: flex;
  transition: transform 0.5s ease;
  overflow: hidden;
}

.slider-image {
  display: block;
  width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slider-btn {
  position: absolute;
  top: 50%;
  background: transparent;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

/* product section  */
.product-section {
  text-align: center;
  margin: 20px;
}

.product-container {
  display: flex;
  overflow-x: auto;
  padding: 20px;
  margin: 25px;
  justify-content: space-between;
  text-align: center;
}

.product-card {
  width: 200px;
  margin-right: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin-top: 10px;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-image {
  width: 100%;
  height: 120px;
  object-fit: cover;
  padding: 18px;
}

.product-details {
  padding: 10px;
}

.product-price {
  font-size: 16px;
  font-weight: bold;
  color: #f98d00;
}

/* conseils   section  */

.conseils-section {
  text-align: center;
  margin: 20px;
}

.conseils-section {
  text-align: center;
  margin: 20px;
  position: relative;
}

.conseils-card-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.conseil-card {
  position: relative;
  width: calc(33.33% - 20px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  margin-right: 20px;
}

.conseil-card img {
  width: 100%;
  height: auto;
}

.conseil-content {
  position: absolute;
  top: 50%;
  left: 37%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 10px;
  width: 80%;
  z-index: 2;
}

.conseil-content h4 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.conseil-content p {
  margin: 0;
  font-size: 14px;
  color: #fff;
}

.conseil-card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 120, 165, 0.6) 0%,
    rgba(0, 120, 165, 0) 100%
  );
  z-index: 1;
}

/* contact-section */
.contact-section {
  text-align: center;
  margin: 40px;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.card {
  position: relative;
  width: 45%;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: none;
  overflow: hidden;
}

.card img {
  width: 100%;
  border: none;
  height: auto;
}

.card-with-input {
  position: relative;
  display: flex;
  flex-direction: column;
}

.card-with-input img {
  width: 100%;
  border: none;
}

.card-with-input .content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-with-input h3,
.card-with-input p {
  margin: 40px 10; /* Adjusted margin for title and description */
  z-index: 1;
  color: #fff;
}

.card-with-input input {
  margin: 10px 0; /* Adjusted margin for input */
  z-index: 1;
  color: #fff;
  outline: none;
  border: 1px solid #fff; /* Set border color to white */
  padding: 15px;
  background-color: transparent;
}

.card-with-input button {
  margin: auto;
  padding: 10px;
  background-color: #3ac9ff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  margin: 20px;
}

/* partenaires-section */
.partenaires-section {
  text-align: center;
}
.partners-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  width: 50%;
  margin: auto;
  margin-top: 30px;
}

.partner-card {
  position: relative;
  width: 25%;
  box-sizing: border-box;
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
}

.partner-card img {
  width: 100%;
  height: auto;
  border: none;
  display: block;
}

.button-container {
  width: 100%; /* Take up the full width */
  text-align: center;
}

.button-container button {
  margin-top: 10px;
  padding: 2%;
  background-color: #0078a5;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 140px;
  outline: none;
  width: 80px;
  width: fit-content;
}

.button-container button:hover {
  background-color: #005678;
}

/* learn-section */
.learn-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 40px;
}

.content-left {
  display: flex;
  flex-direction: column;
}

.content-left h3 {
  font-size: 25px;
  color: #0078a5;
  font-weight: bold;
}

.content-left hr {
  margin-top: 5px;
  border: 0;
  border-top: 1px solid #0078a5;
}

.content-left p {
  font-size: 12px;
}

.image-right img {
  width: 80%;
  height: 90%;
  border: none;
  outline: none;
}
/* aventage-section */
.aventage {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  margin: 0;
}
.aventage-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px;
}

.row img {
  width: 70px;
  height: auto;
  margin-bottom: 10px;
}

.row h4 {
  font-size: 25px;
  color: #333;
  margin-bottom: 5px;
}

.row p {
  font-size: 12px;
  color: #666;
  margin-bottom: 0;
}
