body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  color: black;
}

.logo {
  width: 153px;
  height: 50.3px;
  margin-left: 8%;
}

.logo img {
  max-height: 50px;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 40%;
  position: relative;
}

.search-bar input {
  padding: 8px;
  border-radius: 35px;
  width: 100%;
  border: 2px solid #0078a5;
  position: relative;
}

.search-bar input::placeholder {
  color: #0078a5;
}

.search-bar i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #0078a5;
}

.icons {
  margin-right: 10px;
  padding-right: 8%;
  display: flex;
  justify-content: space-between;
}

.icons i {
  font-size: 15px;
  margin-left: 10px;
  color: black;
}
hr {
  display: flex;
  margin-left: 9%;
  margin-right: 9%;
  margin-top: 3px;
}
.nav-bar {
  display: flex;
  margin-top: 1px;
  align-items: center;
}
.home-page {
  width: 80%;
  margin: auto;
  position: relative;
}

.home-page .slider-image {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
.home-decription {
  position: relative;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: white;
  max-width: 70%;
  padding: 40px;
  padding-right: 29%;
}

.overlay h2,
.overlay p,
.overlay button {
  margin: 1;
}
.overlay h2 {
  box-shadow: #707070;
}
.overlay p {
  font-size: 14px; /* Adjust the font size for <p> */
}

.overlay button {
  background: #707070;
  color: white;
  padding: 10px 20px;
  border: 1px solid white;
  background: transparent;
  cursor: pointer;
  border-radius: 30px;
  padding-left: 30px;
  outline: none;
}

.slider-container {
  position: relative;
  width: 100%;
  margin: auto;
  display: flex;
  transition: transform 0.5s ease;
  overflow: hidden;
}

.slider-image {
  display: block;
  width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slider-btn {
  position: absolute;
  top: 50%;
  background: transparent;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

/* product section  */
.product-section {
  text-align: center;
  margin: 20px;
}

.product-container {
  display: flex;
  overflow-x: auto;
  padding: 20px;
  margin: 25px;
  justify-content: space-between;
  text-align: center;
}

.product-card {
  width: 200px;
  margin-right: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin-top: 10px;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-image {
  width: 100%;
  height: 120px;
  object-fit: cover;
  padding: 18px;
}

.product-details {
  padding: 10px;
}

.product-price {
  font-size: 16px;
  font-weight: bold;
  color: #f98d00;
}
